<h1>Questions</h1>
<div id="questions">
  <% @questions.each do |question| %>
    <%= render question %>
  <% end %>
</div>
<%= button_to "New question", new_question_path, method: :post %>

<div>
  <%= turbo_frame_tag 'new_question'%>
</div>
